{% extends "layout_template.html" %}
{% block title %}Browse Garments{% endblock %}
{% block header %}Browse Garments{% endblock %}
{% block content %}
<form id="filterform" action = "" method = "POST" enctype = "multipart/form-data">
  <select name ="garmenttype" multiple>
    <option value="accessory" selected>Accessory</option>
    <option value="bottoms" selected>Bottoms</option>
    <option value="dress" selected>Dress</option>
    <option value="outerwear" selected>Outerwear</option>
    <option value="shoes" selected>Shoes</option>
    <option value="top" selected>Top</option>
    <option value="other" selected>Other</option>
  </select>
  <select name ="color" multiple>
    <option value="beige" selected>Beige</option>
    <option value="black" selected>Black</option>
    <option value="blue" selected>Blue</option>
    <option value="brown" selected>Brown</option>
    <option value="gold" selected>Gold</option>
    <option value="green" selected>Green</option>
    <option value="grey" selected>Grey</option>
    <option value="multicolor" selected>Multicolor</option>
    <option value="pink" selected>Pink</option>
    <option value="purple" selected>Purple</option>
    <option value="red" selected>Red</option>
    <option value="white" selected>White</option>
    <option value="other" selected>Other</option>
  </select>
  <select name ="size" multiple>
    <option value="xxs" selected>XXS</option>
    <option value="xs" selected>XS</option>
    <option value="s" selected>S</option>
    <option value="m" selected>M</option>
    <option value="l" selected>L</option>
    <option value="xl" selected>XL</option>
    <option value="xxl" selected>XXL</option>
    <option value="onesize" selected>Onesize</option>
    <option value="other" selected>Other</option>
  </select>
  <input type = "submit"/>
</form>

{% for garment in garments %}
<a href="{{url_for('reserve',garment_id=garment.garment_id)}}">
  <div class="garment_item">
    <img src="{{url_for('static',filename="images/")}}{{ garment.photo_loc | default('defaultgarment.png') }}" class="garment_img">
    <div class="garment_text">
      <p class="garment_type">{{garment.garment_type}}</p>
      <p class="garment_color">{{garment.color}}</p>
      <p class="garment_size">{{garment.size}}</p>
      <p class="garment_desc">{{garment.desc}}</p>
    </div>
  </div>
</a>
{% endfor %}
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
  $("#filterform").submit(function() {
    var $inputs = $('#filterform :input');
    var values = {};
    $inputs.each(function() {
      values[this.name] = $(this).val();
      console.log(name + ': ');
      console.log(values[name])
    });
    alert("submitted");
  });
});
