{% extends "layout_template.html" %}
{% block title %}Reserve a Garment{% endblock %}
{% block header %}Reserve a Garment{% endblock %}
{% block content %}
    <div class="garment_item">
      <img src="{{url_for('static', filename="images/")}}{{ garment.photo_loc | default('defaultgarment.png') }}" class="garment_img">
      <div class="garment_text">
        <p class="garment_type">{{garment.garment_type}}</p>
        <p class="garment_color">{{garment.color}}</p>
        <p class="garment_size">{{garment.size}}</p>
        <p class="garment_desc">{{garment.desc}}</p>
      </div>
    </div>
    <form action = "{{url_for('reserver',garment_id=garment.garment_id)}}" method = "POST" enctype = "multipart/form-data">
      <input type = "date" name = "date_start"/>
      <input type = "date" name = "date_end"/>
      <input type = "submit"/>
    </form>
{% endblock %}
