h1 {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: .8em;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.garment_item {
  background-color:#fcf9f2;
  color: black;
  width:250px;
  height:500px;
  text-align: center;
  padding: 5px;
  float: left;
  margin: 10px;
}

.garment_img {
  max-width: 250px;
  max-height: 300px;
}

.garment_text {
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
}

.loginbox {
    font-size: 1.5em;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;
}